@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Inter", sans-serif;
}

$color-one: #1173d4;
$color-two: #33cc73;
$color-three: #04031c;
$color-four: #fdefef;
$color-five: #f9d5e5;
$color-six: #cfe2f3;
$color-seven: #d4edda;
$color-eight: #ffe9c2;
$color-nine: #313461;

@mixin azul-verde() {
}

header {
  height: 80vh;
  background-image: url("./assets/bannerHeader.png");
  display: flex;
  flex-direction: column;
  align-items: center;
  background-repeat: no-repeat;
  background-size: contain;

  .box-header {
    margin-top: 50px;
    width: 80%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: linear-gradient(to right, $color-one 0%, $color-two 100%);
    border-radius: 50px;

    a {
      color: white;
      font-family: "Roboto", sans-serif;
    }

    nav {
      width: 40%;
      height: 10vh;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
    }
  }
}

.box-banner {
  width: 80vw;
  height: 80vh;
  display: flex;
  align-items: center;

  .box-title {
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
  }

  h1 {
    font-size: 2.5rem;
    font-weight: bold;
    background: linear-gradient(to right, #1173d4 0%, #33cc73 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }

  p {
    font-size: 1.2rem;
    font-weight: 300;
  }

  .btn-blue {
    width: 257px;
    height: 44px;
    border-radius: 10px;
    background-color: $color-one;
    color: white;
    border: none;
    cursor: pointer;
  }

  .btn-white {
    width: 257px;
    height: 44px;
    border-radius: 10px;
    background-color: white;
    color: $color-one;
    border: $color-one solid 2px;
    cursor: pointer;
  }
}

main {
  background-color: #f8f9fa;
}
.main-info {
  height: 40vh;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-left: 220px;

  h2 {
    background: linear-gradient(to right, #1173d4 0%, #33cc73 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    display: inline-block;
    margin-bottom: 15px;
  }

  div {
    font-size: 1.2rem;
    font-weight: 300;
  }
}

.card-info {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  div {
    height: 30vh;
    width: 300px;
    gap: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: 0px 0px 10px 0px #00000040;
  }
}

.prevencao-feminina {
  background-color: $color-four;
  padding: 60px 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  margin-top: 40px;

  h1 {
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
    background: linear-gradient(
      90deg,
      rgba(249, 1, 111, 0.54) 0%,
      rgba(147, 8, 133, 0.619615) 41.83%,
      rgba(208, 56, 170, 0.754793) 70.19%,
      #851c87 100%
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
  }

  div {
    font-family: "Roboto", sans-serif;
    background-color: white;
    box-shadow: 0 0 10px #00000020;
    border-radius: 20px;
    padding: 20px;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    width: 300px;
    height: 400px;
  }

  img {
    align-self: center;
    width: 80px;
    height: auto;
  }

  h2 {
    align-self: center;
    color: black;
    margin-bottom: 20px;
  }

  p {
    text-align: left;
    color: black;
  }
}

.prevencao-masculina {
  background-color: #f8f9fa;
  padding: 60px 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  margin-top: 40px;

  h1 {
    width: 100%;
    text-align: center;
    display: inline-block;
    margin-bottom: 40px;
    background: linear-gradient(to right, #1173d4 0%, #33cc73 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
  }

  div {
    font-family: "Roboto", sans-serif;
    background-color: white;
    box-shadow: 0 0 10px #00000020;
    border-radius: 20px;
    padding: 20px;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    width: 300px;
    height: 400px;
  }

  img {
    align-self: center;
    width: 80px;
    height: auto;
  }

  h2 {
    align-self: center;
    color: black;
    margin-bottom: 20px;
  }

  p {
    text-align: left;
    color: black;
  }
}

.alert-box {
  background-color: white;
  padding: 60px 10%;

  .alert {
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
  }

  .alert > div {
    width: 450px;
    height: 150px;
    border-radius: 20px;
    padding: 20px 24px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    font-family: "Roboto", sans-serif;
    text-align: left;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
  }

  h1 {
    background: linear-gradient(to right, #1173d4 0%, #33cc73 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    text-align: center;
    margin-bottom: 20px;
  }

  img {
    width: 24px;
    height: 24px;
  }

  h2 {
    font-size: 1.2rem;
  }

  p {
    font-size: 0.8rem;
  }

  .box-info-1 {
    background-color: $color-five;
    color: #ad346a;
  }

  .box-info-2 {
    background-color: $color-six;
    color: #2769a3;
  }

  .box-info-3 {
    background-color: $color-seven;
    color: #244a2d;
  }

  .box-info-4 {
    background-color: $color-eight;
    color: #976c00;
  }
}

footer {
  background: $color-nine;
  color: white;

  a {
    color: white;
  }

  footer a:hover,
  footer a:focus {
    text-decoration: underline;
    outline: 0;
  }

  .logo {
    height: 40px;
    margin-bottom: 12px;
  }
  .muted {
    color: #cfd6e6;
  }

  h3 {
    margin: 4px 0 12px;
    font-weight: 700;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  li + li {
    margin-top: 10px;
  }
}

.ft-top {
  display: flex;
  justify-content: space-between;
  flex: 1 1 0;
  min-width: 260px;
  gap: 48px;
  padding: 48px 10%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.ft-bottom {
  padding: 16px 10% 24px;
  text-align: center;
  color: #cfd6e6;
  font-size: 0.9rem;
}
